<ul class="images-container">
  <div *ngFor="let photo of photos$ | async; trackBy: trackByFn" [routerLink]="['/photos', photo.id]" class="img-container">
    <div class="img-overlay">
      <p>{{ photo.title }}</p>
    </div>

    <!-- According to spec, this should be using thumbnailUrl.  -->
    <!-- However I preferred the look of this more, so I went for it. -->
    <img [src]="photo.url" />
  </div>
</ul>
<div class="bottom" #bottom>
  <mat-spinner *ngIf="isLoading$ | async" [diameter]="40"></mat-spinner>
</div>
