mat-toolbar {
  justify-content: space-between;

  .right-side-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-spinner {
      margin-right: 20px;
    }
  }
}
